.header {position: fixed; width: 100%; height: 60px; background: var(--fff); 
border-bottom: 1px solid var(--ddd); z-index: 10;
    a{color: inherit;}
    &Logo{font-size: 1rem;
        &Box{display: flex; align-items: center; width: 100%; height: 100%;}
    }
    &Menu{
        &Area{display: flex; align-items: center; height: 100%; width: 100%; max-width: 788px; margin: 0 auto; 
        padding: 0 10px;
            :where(h1,h2,h3,h4,h5){margin: 0;}
            ul{margin: 0; padding: 0;}
            li{list-style: none;}
        }
        &List{display: flex; align-items: center; height: 100%; column-gap: 20px;}
        &Item{display: flex; align-items: center; height: 100%;}
        &Link{color: var(--black);
            &.active{color: var(--accent); font-weight: 600;}
        }
    }
}

#main{width: 100%; max-width: 788px; margin: 0 auto; padding: 132px 10px 80px 10px;}

footer {display: flex; flex-direction: column; align-items: center; justify-content: center; height: 200px;
background: var(--fff); text-align: center;
    a{color: inherit;}
}
    
.copy{font-size: .875rem; color: var(--black);}

.socials {display: flex; justify-content: center;}

.internal-links{display: flex; align-items: center; column-gap: 16px; margin-left: auto; height: 100%;}

.giscus{margin-top: 100px; min-height: 376px;}

/* 아티클 스타일 */
.blogArticle{
    h1 {font-size: var(--h1);}
    h2 {font-size: var(--h2);}
    h3 {font-size: var(--h3);}
    h4 {font-size: var(--h4);}
    h5 {font-size: var(--h5);}
    .hero-image {width: 100%;
        img{height: 350px; margin: 0 auto; border-radius: 12px;}
    }
    .prose {width: 100%;}
    .title {padding: 40px 0 16px 0; text-align: center;}
    .date {margin-bottom: 10px; color: rgb(var(--gray));}
    .last-updated-on {font-style: italic;}
    h1,h2,h3,h4,h5,h6 {margin: 0 0 20px 0; color: rgb(var(--black)); line-height: 1.2;}
    .astro-code{padding: 20px; margin: 15px 0;}
    li{line-height: 34px;}
    .prose p {margin-top: 15px; margin-bottom: 40px; line-height: 1.7;}
    code {padding: 2px 5px; background-color: rgb(var(--gray-light)); border-radius: 2px;}
    pre {border-radius: 8px;
        > code {all: unset;}
    }
    blockquote {border-left: 4px solid var(--accent); padding: 0 0 0 20px; font-size: var(--h4); margin: 0;}

    table{width: 100%;
        th{text-align: left;}
        th,td{line-height: 34px;}
    }
    hr{margin: 0; border-top: 1px solid 1px solid rgb(var(--gray-light));}
    a{text-decoration: revert;}
}

/* 포스트 목록 */
.blogList{
    ul{margin: 0; padding: 0; list-style-type: none;}
    p{margin: 0;}
    img{object-fit: cover;}
    a{color: inherit;}

    .myPost{
        &List{display: flex; flex-direction: column; row-gap: 90px;}
        &Link{display: flex; flex-direction: column; row-gap: 20px;}
        &Top{position: relative; padding-top: 52.085%; transition: .3s ease-in-out;}
        &Title{font-size: var(--h3); margin: 0; color: rgb(var(--black)); line-height: 1;
        transition: .3s ease-in-out;}
        &Date{padding-top: 20px; margin: 0; color: rgb(var(--gray));}
        &Description{color: var(--c333); padding-top: 10px;}
        &Thumbnail{position: absolute; top: 0; left: 0; height: 100%;}
    }
}

@media (hover:hover){ 
    .myPost{
        &List{
            li:hover{
                .myPostTop{box-shadow: var(--box-shadow);}
                .myPostTitle{color: rgb(var(--accent));}
            }
        }
    }
}