@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.nanummyeongjo{
    font-family: 'Nanum Myeongjo', serif;
}

.primary1{background-color: var(--primary1);}

#header {position: fixed; width: 100%; height: 60px; background: var(--fff); 
border-bottom: 1px solid var(--ddd); z-index: 10;
    :where(h1,h2,h3,h4,h5,h6){margin: 0;}
    ul{margin: 0; padding: 0;}

    .header{
        &Logo{font-size: 1.5rem; font-weight: 600; letter-spacing: 0.5px; user-select: none;
            &Box{display: flex; align-items: center; height: 100%;}
        }
        &Menu{
            &Area{display: flex; align-items: center; justify-content: space-between; 
            height: 100%; width: 100%; max-width: var(--mxw1140); margin: 0 auto; padding: 0 20px;}
            &List{display: flex; align-items: center; height: 100%; column-gap: 20px;}
            &Item{display: flex; align-items: center; height: 100%;}
            &Link{color: var(--black); font-weight: 500;
                &.active{color: var(--primary1); font-weight: 600;}
            }
        }
    }
}

.main{
    &Inner{width: 100%; max-width: var(--mxw768); margin: 0 auto; padding: 132px 0 60px 0;}
}

#footer {display: flex; flex-direction: column; align-items: center; justify-content: center; height: 85px;
background: var(--fff); text-align: center; padding: 0 20px;
    ul{margin: 0; padding: 0;}
    li{list-style: none;}
    a{color: inherit; text-decoration: none;}
}

.footer{
    &Inner{display: flex; align-items: center; width: 100%; max-width: var(--mxw1140); margin: 0 auto; padding: 0 10px;}
    &Copy{font-size: 1rem; color: var(--black); margin-right: auto;}
    &Menu{
        &List{display: flex; align-items: center; column-gap: 30px;}
        &Link{font-size: 1rem; color: var(--black);}
    }
}
    
.giscus{min-height: 376px; max-width: var(--mxw768); margin: 100px auto; padding: 0 20px;}

.blogPage{background-color: var(--bg1);
    .myPost{
        &List{display: flex; flex-direction: column; row-gap: 90px;}
        &Item{border-radius: var(--bdrs12); transition: var(--transition1);}
        &Bottom{padding: 16px; border: 1px solid var(--c000-a1); border-top: 0; border-radius: var(--bdrs-bottom12);
            &Inner{display: flex; flex-direction: column; row-gap: 10px;}
        } 
        &Link{display: flex; flex-direction: column; height: 100%; border-radius: var(--bdrs-top12); overflow: hidden;}
        &TopBox{position: relative; border: 1px solid var(--c000-a1); padding-top: var(--post-height);
        border-radius: var(--bdrs-top12); background-color: var(--bg1); transition: var(--transition1);}
        &Title{font-size: 1.75rem; color: rgb(var(--black)); line-height: 1;
        transition: var(--transition1);}
        &Date{font-size: .875rem; margin-top: 20px; color: rgb(var(--gray));}
        &Description{height: 64px; max-height: 64px; font-size: 1rem; color: var(--c333);
        display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;
        overflow: hidden; text-overflow: ellipsis; line-height: 1.5; word-break: break-word;
        word-wrap: break-word;}
        &Thumbnail{position: absolute; top: 0; left: 0; height: 100%; border-radius: inherit;}
    }

    .category{
        &Area{display: flex; flex-direction: column; row-gap: 10px;}
        &List{display: flex; align-items: center; gap: 10px; flex-flow: row wrap; margin-top: 5px;}
        &Item{display: flex; align-items: center; height: 34px; border: 1px solid var(--c000-a1); 
        border-radius: 16px; background-color: var(--fff);}
        &Title{font-size: 1.25rem;}
        &Link{padding: 0 10px; display: flex; align-items: center; height: 100%; 
        font-size: 1rem; font-weight: 500; color: var(--c333);}
        &FilterSection{
            .categoryArea{margin-bottom: 20px;}
        }
        &Section{
            .categoryArea{margin-bottom: 40px; text-indent: 2.5px;}
        }
        &Count{font-size: 1rem; color: var(--c666);}
    }
}

.postPage{
    .main{
        &Inner{max-width: none; padding: 60px 0 0 0;}
    }
    #header{
        a{color: inherit; text-decoration: none;}
    }
    .heroImg{
        &Inner{
            .heroImgBackground{padding-top: 0;}
        }
    }
}

.article{
    h1{margin: 0;}
    &Container{width: 100%; max-width: var(--mxw768); padding: 0 20px; margin: 55px auto; word-break: keep-all;
        h1 {font-size: var(--h1);}
        h2 {font-size: var(--h2);}
        h3 {font-size: var(--h3);}
        h4 {font-size: var(--h4);}
        h5 {font-size: var(--h5);}
        :where(h1,h2,h3,h4,h5,h6) {margin: 0 0 20px 0; color: rgb(var(--black)); line-height: 1.2;}
        .astro-code{padding: 20px; margin: 15px 0;}
        li{line-height: 34px;}
        p {margin-top: 15px; margin-bottom: 40px; line-height: 1.7;}
        code {padding: 2px 5px; background-color: rgb(var(--gray-light)); border-radius: 2px;}
        pre {border-radius: 8px;
            > code {all: unset;}
        }
        blockquote {border-left: 4px solid var(--primary1); padding: 0 0 0 20px; font-size: var(--h4); margin: 0;}
        table{width: 100%;
            th{text-align: left;}
            th,td{line-height: 34px;}
        }
        a{text-decoration: revert;}
    }
    &Category{font-size: 1rem; color: var(--fff);
        +.articleTitle{margin-top: 5px;}
    }
    &Title{font-size: 2.5rem; color: var(--fff);
        +.articleDate{margin-top: 20px;}
    }
    &Date{color: var(--fff-a85); font-size: 1.125rem;}
    &Updated{font-style: italic; color: var(--c333);}
    &Box{display: flex; flex-direction: column; justify-content: center; text-align: center; width: 100%; height: 100%;}
}
 
.heroImg{
    &Area{position: relative; height: 400px; background-attachment: fixed;
        &::before{content: ''; position: absolute; top: 0; left: 0; z-index: 0; width: 100%; height: 100%;
        background-color: rgba($color: #000, $alpha: 0.2);}
    }
    &Inner{position: relative; display: flex; align-items: center; justify-content: center; height: 100%;
        .heroImgBackground{z-index: -1;padding-top: var(--post-height);}
    }
    &Box{position: relative; width: 100%; height: 100%;}
    &Item{position: absolute; left: 0; top: 0; z-index: -1; height: 100%; border-radius: 0;
    user-select: none;}
    &Background{display: flex; align-items: center; justify-content: center; 
    position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-radius: inherit;
        &Name{font-size: 3.25rem; letter-spacing: 2.5px; font-weight: 800; color: var(--fff);}
    }
}

.btnTop{opacity: 0; visibility: hidden; display: flex; align-items: center; justify-content: center; 
width: 40px; height: 40px; border-radius: 50%; border: 1px solid var(--ddd); transition: var(--transition1);
    svg{width: 20px; height: 20px;}
    &.active{opacity: 1; visibility: visible;}
}