@media screen and (max-width: 1500px) {
    #toc{margin-left: 10px;}
}

@media screen and (max-width: 1300px) {
    #toc{display: none;}
    .article{
        &Container{margin: 60px auto;}
    }
}

@media screen and (max-width: 768px) {
    .postPage{
        .main{
            &Inner{padding: 0;}
        }
    }

    .main{
        &Inner{padding: 40px 20px;}
    }

    .heroImg{
        &BackgroundName{font-size: 2.75rem;}
    }
    
    .blogPage{
        .myPost{
            &List{row-gap: 60px;}
        }
    }

    #wrap{
        .btn{
            &MobileMenu{display: block;}
        }
    }

    #header{position: sticky; top: 0;
        .header{
            &Menu{
                &List{flex-direction: column; align-items: flex-start;
                    &Area{width: 100%; height: 0; visibility: hidden; transition: .3s ease-in-out; 
                    transition-property: height,opacity,visibility; overflow: hidden; opacity: 0;
                        &.active{visibility: visible; opacity: 1; height: 180px; padding-bottom: 12px;}
                    }
                }
                &Inner{
                    &Area{position: relative; display: flex; align-items: center; width: 100%; min-height: 60px;
                    padding: 0 20px;}
                }
                &Area{flex-direction: column; align-items: flex-start; padding: 0;}
                &Item{width: 100%; height: auto;}
                &Link{display: flex; align-items: center; width: 100%; padding: 18.5px 20px;}
            }
        }

        .btnCommon{width: 100%; height: 46px; margin: 0 20px; padding: 0;}
    }
}

@media screen and (max-width: 500px) {
    .heroImg{
        &BackgroundName{font-size: 2.125rem;}
    }

    .blogPage{
        .myPost{
            &List{row-gap: 30px;}
            &Title{font-size: 1.5rem;}
            &Description{font-size: .875rem;}
            &BottomInner{row-gap: 5px;}
            &Date{font-size: .75rem;}
        }
        .category{
            &Section{
                .categoryArea{margin-bottom: 20px;}
            }
            &Area{row-gap: 5px;}
            &Title{font-size: 1.125rem;}
            &Link{font-size: .875rem;}
        }
    }

    #header{
        .header{
            &Menu{
                &Link{font-size: .875rem;}
            }
            &Logo{font-size: 1.375rem;}
        }
    }

    .footer{
        &Menu{
            &List{column-gap: 20px;}
            &Link{font-size: .875rem;}
        }
        &Copy{font-size: .875rem;}
    }

    .article{
        &Title{font-size: 2.25rem;}
        &Date{font-size: 1rem;}
        &Container{margin: 35px auto;
            .bq{
                +.shareArea{margin-top: calc(30px / 2); margin-bottom: calc(75px / 2);}
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .heroImg{
        &BackgroundName{font-size: 1.625rem;}
    }

    .blogPage{
        .myPost{
            &Title{font-size: 1.25rem;}
        }
    }
}

@media screen and (max-width: 320px) {
    #wrap{min-width: 320px;}
}