:root {
	--primary1: #FF5D01;
	--bg1: #f8f9fa;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--box-shadow: 0 6px 20px 0 rgba(0,0,0,.08);
	--ddd: #ddd;
    --c333: #333;
	--c666: #666;
    --fff: #fff;
	--fff-a85: rgba(255, 255, 255, 0.85);
	--c000-a1: rgba(0, 0, 0, 0.1);
	--h1: 3rem;
	--h2: 2rem;
	--h3: 1.5rem;
	--h4: 1.25rem;
	--paragraph: 1.125rem;
	--mxw1140: 1140px;
	--mxw768: 768px;
	--post-height: 47.787%;
	--bdrs12: 12px;
	--bdrs-top12: 12px 12px 0 0;
	--bdrs-bottom12: 0 0 12px 12px;
	--toc-width: 250px;
	--transition1: .3s ease-in-out;
}