---
import TOC from "./TOC.astro";

const { className = '', headings } = Astro.props;
---

<article class={`article ${className}`}>
    <slot name="hero"/>

    <div class="articleContainer">
        <TOC {headings}/>
        <div class="articleInner">
            <!-- 작성한 md파일 들어갈 자리 -->
            <slot />
            <!-- // -->
            <slot name="updated"/>
        </div>
    </div>
</article>