---
const today = new Date();
---

<footer>
	<div class="socials">
		<a href="/" target="_blank">
			<span class="hidden">깃허브 바로가기</span>
		</a>
		<a href="/" target="_blank">
			<span class="hidden">메일 보내기</span>
		</a>
	</div>
	<span class="copy">&copy; {today.getFullYear()} Your name here. All rights reserved.</span>
</footer>