---
import Link from "./Link.astro";
import { SITE } from "../consts";
---

<footer id="footer">
	<div class="footerInner">
		<span class="footerCopy">&copy; {SITE.name}</span>

		<ul class="footerMenuList">
			<li class="footerMenuItem">
				<Link href={SITE.github} className="footerMenuLink">Github</Link>
			</li>
			<li class="footerMenuItem">
				<Link href={SITE.discord} className="footerMenuLink">Discord</Link>
			</li>
		</ul>
	</div>
</footer>