---
import { getCollection } from 'astro:content';
import Link from '@/components/Link.astro';
import { SITE } from '@/consts';
import MobileMenu from '@/components/icons/MobileMenu.astro';
import MobileMenuClose from '@/components/icons/MobileMenuClose.astro';

const intro = await getCollection('intro');
const introSlug = intro.map((item) => item.slug);
const contact = await getCollection('contact');
const contactSlug = contact.map((item) => item.slug);
---

<header id="header" class="top-0">
	<nav class="headerMenuArea">
		<div class="max-md:relative max-md:flex max-md:items-center max-md:w-full max-md:min-h-[60px]">
			<h1 class="flex items-center h-full">
				<a
					href="/"
					class="flex items-center h-full text-2xl font-semibold tracking-[0.5px] select-none max-md:text-[1.375rem]"
					>{SITE.name}</a
				>
			</h1>
			<button
				type="button"
				class="btnMobileMenu absolute top-1/2 -translate-y-1/2 right-0 hidden max-md:block"
			>
				<MobileMenu className="size-6 text-black" />
				<MobileMenuClose className="size-6" />
				<span class="sr-only">모바일 메뉴</span>
			</button>
		</div>

		<div class="headerMenuListArea">
			<ul class="flex items-center h-full gap-x-5 max-md:flex-col max-md:items-start">
				<li class="flex items-center h-full max-md:w-full max-md:h-auto">
					<Link href={`/intro/${introSlug}`} className="headerMenuLink" linkType="menuActive"
						>소개</Link
					>
				</li>
				<li class="flex items-center h-full max-md:w-full max-md:h-auto">
					<Link href={`/contact/${contactSlug}`} className="headerMenuLink" linkType="menuActive"
						>Contact</Link
					>
				</li>
			</ul>
		</div>
	</nav>
</header>

<script is:inline>
	const btnMobileMenu = document.querySelector('.btnMobileMenu');

	btnMobileMenu.addEventListener('click', () => {
		const header = document.querySelector('#header');
		const svgMobileMenu = document.getElementById('svgMobileMenu');
		const svgMobileMenuClose = document.getElementById('svgMobileMenuClose');

		header.classList.toggle('active');

		if (header.classList.contains('active')) {
			svgMobileMenu.style.display = 'none';
			svgMobileMenuClose.style.display = 'block';
		} else {
			svgMobileMenu.style.display = 'block';
			svgMobileMenuClose.style.display = 'none';
		}
	});
</script>
