---
import Link from './Link.astro';
import { SITE } from '../consts';
---

<header class="header">
	<nav class="headerMenuArea">
		<h2 class="headerLogoBox">
			<a href="/" class="headerLogo">{SITE.title}</a>
		</h2>

		<ul class="headerMenuList">
			<li class="headerMenuItem">
				<Link href="/" className="headerMenuLink">Home</Link>
			</li>
			<li class="headerMenuItem">
				<Link href="/about" className="headerMenuLink">About</Link>
			</li>
		</ul>
	</nav>
</header>
