---
import { getCollection } from 'astro:content';
import Link from './Link.astro';
import { SITE } from '../consts';

const intro = await getCollection('intro');
const introSlug = intro.map((item) => item.slug);
const contact = await getCollection('contact');
const contactSlug = contact.map((item) => item.slug);
---

<header id="header">
	<nav class="headerMenuArea">
		<h1 class="headerLogoBox">
			<a href="/" class="headerLogo">{SITE.name}</a>
		</h1>

		<ul class="headerMenuList">
			<li class="headerMenuItem">
				<Link href={`/intro/${introSlug}`} className="headerMenuLink" linkType="menuActive">소개</Link>
			</li>
			<li class="headerMenuItem">
				<Link href={`/contact/${contactSlug}`} className="headerMenuLink" linkType="menuActive">Contact</Link>
			</li>
		</ul>
	</nav>
</header>
