<div class="heroImgArea">
    <div class="heroImgInner">
        <slot/>

        <div class="heroImgBox">
            <div class="articleBox">
                <slot name="category"/>
                <slot name="title"/>
                <slot name="desc"/>
                <slot name="date"/>
            </div>
        </div>
    </div>
</div>