---

---

<div class="shareArea">
    <p class="shareText">아티클 공유하기</p>
    <button type="button" id="cr">
        <span class="hidden">링크 복사</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M11 17H7q-2.075 0-3.537-1.463T2 12q0-2.075 1.463-3.537T7 7h4v2H7q-1.25 0-2.125.875T4 12q0 1.25.875 2.125T7 15h4zm-3-4v-2h8v2zm5 4v-2h4q1.25 0 2.125-.875T20 12q0-1.25-.875-2.125T17 9h-4V7h4q2.075 0 3.538 1.463T22 12q0 2.075-1.463 3.538T17 17z"/></svg>
    </button>
    <button type="button" id="fb">
        <span class="hidden">페이스북 공유</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"/></svg>
    </button>
    <button type="button" id="tw">
        <span class="hidden">트위터 공유</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231zm-1.161 17.52h1.833L7.045 4.126H5.078z"/></svg>
    </button>
</div>

<script>
    // @ts-nocheck
    const cr = document.getElementById('cr');
    const fb = document.getElementById('fb');
    const tw = document.getElementById('tw');
   
    const url = window.location.href;
    const articleTitle = document.querySelector('.articleTitle').textContent;
   
    const fbUrl = `https://www.facebook.com/sharer/sharer.php?u=${url}`;
    const twUrl = `https://twitter.com/intent/tweet?text=${articleTitle}&url=${url}`;

    cr.addEventListener('click', () => {
        navigator.clipboard.writeText(url);
        alert('링크가 복사되었습니다.');
    });

    fb.addEventListener('click', () => {
        window.open(fbUrl, 'fbShare', 'width=600, height=400');
    });

    tw.addEventListener('click', () => {
        window.open(twUrl, 'twShare', 'width=600, height=400');
    });
</script>