---
/* pages > posts > [...slug].astro에서 가져온 headings */
const { headings } = Astro.props;
--- 

<aside id="toc" aria-label="목차">
    <div class="tocInner">
        <ul class="tocList">
            {headings?.map(h => 
                <li class={`tocItem tocDepth${h.depth}`}>
                    <a class="tocLink" href={`#${h.slug}`} title={h.text}>{h.text}</a>
                </li>
            )}
        </ul>
    </div>
</aside>

<script>
    // @ts-nocheck
    // https://stackoverflow.com/questions/55632954/ignore-all-errors-in-a-typescript-file

    const tocInner = document.querySelector('.tocInner');
    const tocItems = document.querySelectorAll('.tocList, .tocLink');
    const tags = document.querySelectorAll('.h2, .h3, .h4');

    tocItems.forEach((item,index) => item.dataset.index = index);
    tags.forEach((tag, index) => tag.dataset.index = index);

    tocInner.addEventListener('click', (e) => {
        if (e.target.matches('.tocList') || e.target.matches('.tocLink')) {
            e.preventDefault();
            const index = e.target.dataset.index;
            tags[index].scrollIntoView({ behavior: 'smooth', block: 'center' });
        }
    });

    let selectedIndex = 0;

    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.target.outerText === '경력' && entry.boundingClientRect.y < 100) {
                console.log(entry.boundingClientRect.y);
            }

            // if (entry.isIntersecting == true && entry.boundingClientRect.y < 500) {
            //     tocItems[selectedIndex].classList.remove('active')
            //     selectedIndex = entry.target.dataset.index
            //     tocItems[selectedIndex].classList.add('active')
            // }   
        });
    },
    { 
        threshold: 0,
        rootMargin: '-60px 0px 0px 0px'
    }
    );

   

    tags.forEach(tag => observer.observe(tag));
</script>