---
import TopArrow from '@/components/icons/TopArrow.astro';
---

<div class="btnArea">
	<button type="button" class="btnTop">
		<span class="sr-only">위로 올라가기</span>
		<TopArrow className="size-5" />
	</button>
</div>

<script is:inline>
	//@ts-nocheck
	const btnTop = document.querySelector('.btnTop');

	window.addEventListener('scroll', () => {
		if (window.scrollY > 100) {
			btnTop.classList.add('active');
		} else {
			btnTop.classList.remove('active');
		}
	});

	btnTop?.addEventListener('click', () => {
		window.scrollTo({
			top: 0,
			behavior: 'smooth'
		});
	});
</script>
